fastapi==0.135.3
uvicorn==0.42.0
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11
python-dotenv==1.2.2
pydantic==2.12.5
pydantic_core==2.41.5
starlette==1.0.0
typing_extensions==4.15.0
bcrypt==5.0.0
cloudinary==1.44.1
python-multipart==0.0.22
